@charset "utf-8";
/**
 * 页面样式
 */
.mar_bot10{margin-bottom:10px;}
	.width1200{width:1200px;margin:0 auto;}
	.mar_sx10zy0{margin:10px 0;}
	.icon{display:inline-block;}
	.pad20{padding:20px}
	img{max-width:100%}
	.over{overflow:hidden;}
	.ranking_ico{display:inline-block;width:20px;height:20px;text-align:center;line-height:20px;color:#fff;font-style:normal;margin-right:7px;background:#555;vertical-align:2px;}
	.titlebar{border-left:6px solid #82AFFF;padding-left:15px;line-height:30px;font-size:20px;font-weight:bold;}
	.container{background:#eee;}
	
	/*导航栏 start*/
	.h_wrap{width:1200px;height:70px;margin:0 auto;}
	.logo{width:120px;height:70px;font-size:30px;line-height:70px;}
	.h_nav{height:70px;}
	.h_nav li{float:left;width:100px;height:70px;text-align:center;line-height:70px;}
	.h_nav li:hover{background:#333;}
	.h_nav li a{display:block;color:#cacaca;font-size:18px;}
	/*end 导航栏*/
	
	/*内容区 start*/
	.content{width:1200px;margin:0 auto;}
	
	/*动态消息*/
	.location{height:50px;background:#fff;margin:10px auto;}
	.icon_sy{width:50px;height:50px;line-height:50px;}
	.toptip,.toptip li,.toptip li a{max-width:1120px;height:50px;line-height:50px;}
	.toptip li a{display:block;overflow:hidden;text-overflow:ellipsis;white-space:normal;}
	.toptip li a:hover{color:#82AFFF;}
	/*动态消息*/
	
	/*内容区左模块 start*/
		.box_left{width:850px;}
	
		/*banner start*/
		.banner{width:850px;height:350px;}
		.ba_img{z-index:0;top:0;left:0;}
		.ban_sel{z-index:1;right:30px;bottom:20px;}
		.ban_sel li{float:left;margin-left:10px;background:#fff;}
		.ban_sel li a{display:block;width:30px;height:10px;}
		.ban_sel .check{background:#000;}
		/*end banner*/
		
		/*本站热门  start*/
		.m_hot{width:820px;height:210px;padding:10px 15px;}
		.m_hot ul{border-top:1px solid #90BBA8;}
		.m_hot ul li{height:30px;line-height:33px;font-size:16px;}
		.right_pad{padding:15px 0 0 10px;border-top:1px solid #ECECEC;}
		.ranking_ic1{background:#ea423a;}
		.bzrm_title{display:inline-block;color:#00a660;height:20px;width:520px;overflow:hidden; line-height:20px;white-space:nowrap;text-overflow:ellipsis;vertical-align:-2px;}
		.rm_evalp{width:108px;height:30px;line-height:30px;float:right;font-size:16px;text-align:right;}
		.rm_evalp span{font-size:16px;padding:0 3px;}
		.plrmwz a,.plrmwz span{color:#777 !important;}
		.dzrmwz a,.dzrmwz a i,.dzrmwz span{color:#f78585 !important;}
		.ranking_ic2{background:#C5C5C5;}
		.ranking_ic3{background:#8C3C1E;}
		/*end 本站热门*/	
		
		/*首页新闻列表*/
		.index-news{width:850px;}
		.index-news li{margin-bottom:5px;}
		.index-news li a:before,.index-news li a:after{display:table;content:"";line-height:0;}
		.index-news li a{display:block;overflow:hidden;position:relative;border:1px solid #eaeaea;background:#fff;padding:20px 15px 20px 20px;margin-bottom:1px;position:relative;clear:both;}
		.syxw-head{margin:0 10px 15px 0;}
		.syxwlb-til{padding:10px 15px;}
		.index-news .syxwlb-til{width:818px;margin-left:1px;}
		.syxw-lab{margin-right:5px;top:-2px;background:#45bcf9;position:relative;display:inline-block;padding:4px 6px 3px;line-height:14px;color:#fff;vertical-align:baseline;white-space:nowrap;}
		.label-arrow{border-left-color:#45bcf9;top:7px;right:-4px;border-left:4px solid #45bcf9;border-top:4px solid transparent;border-bottom:4px solid transparent;position:absolute;width:0;height:0;vertical-align:top;content:"";}
		.syxw-head h2{ display:inline;font-size:20px;margin:0;font-weight:bold;position:relative;top:1px;line-height:25px;color:#555;}
		.sy-newss-pimg{overflow:hidden;margin:0 20px 0 0;}
		.sy-newss-pimg,.sy-newss-pimg img{width:200px;height:123px;}
		.syxw-pjj{float:left;width:590px;height:94px;color:#777;line-height:24px;margin-bottom:6px;}
		/*end 首页新闻列表*/
		
	/*end 内容区左模块*/
	
	/*内容区右模块  start*/
	.box_right{width:340px;}

	
		/*笔记分类 start*/
		.note_classify{padding:10px 11px;}
		.kf_tool li{float:left;margin-right:20px;margin:12px;}
		.kf_tool li a{display:block;width:50px;height:50px;}
		.kf_tool li a img{width:100%;height:100%;}
		.note_category a{display:block;float:left;background:#f60;color:#fff;margin-right:10px;width:90px;line-height:32px;text-align:center;margin-bottom:10px;}
		/*end 笔记分类*/
		
		/*最新问答 start*/
		.rels a{height:173px;}
		.rela_title{padding:7px 10px;background:rgba(0,0,0,.6);right:0;bottom:0;left:0;text-align:justify;}
		/*end 最新问答*/
	/*end 内容区右模块*/
	

	
	/*页脚 start*/
	.footer{background:#3E4D5E;}
	.footer_con{height:120px;}
	.footer_con ul{margin:20px 56px 0 0;}
	.foout{font-size:18px;color:#fff;width:120px;padding-bottom:20px;margin-bottom:15px;border-bottom:1px solid #78838f;}
	.fo_coleft li{float:left;}
	.fo_coleft li a{color:#9fa6af;font-size:16px;line-height:30px;display:inline-block;margin-right:20px;}
	.fo_coleft li a:hover{color:#fff;}
	.fo_coleft li a:after{content:'';display:block;width:0;height:1px;background-color:#fff;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
	.fo_coleft li a:hover:after{width: 100%;}
	.coyp{height:40px;line-height:40px;text-align:center;background:#1b2631;color:#9fa6af;font-size:14px;}
	/*end 页脚*/
	
	/*图片列表 start*/
		.ny-mainlist li{float:left;overflow:hidden;margin:0 15px 18px 0;}
		.ny-mainlist li a{position:relative;display:block;width:268px;height:221px;float:left;background:#fcfcfc;overflow:hidden;}
		.ny-news-tip{position:absolute;background:rgba(3,3,3,0.36);padding:0 6px;color:#fff;z-index:2;top:0px;}
		.ny-news-pimg{overflow:hidden;}
		.ny-news-pimg,.ny-news-pimg img{width:268px;height:175px;}
		.ny-news-til{width:238px;height:46px;padding:0 15px;line-height:46px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
	/*end 图片列表*/
	
	/*文章详情页 start*/
		.desc_left{width:850px;min-height:462px;}
		.article_header{padding:2px 20px 12px;border-bottom:1px solid #eee;}
		.article_title{font-weight:400;line-height:60px;color:#444;font-size:24px;margin:5px 0;}
		.muted{float:left;margin-right:20px;}
		.xtb{display:inline-block;width:16px;height:14px;background:red;vertical-align:-2px;}
		.mx_author{height:19px;color:#00a67c;}
		.mu_sp{color:#999;padding-left:2px;}
		.article_content{padding:10px 20px 20px 20px;font-size:16px;line-height:26px;word-break:break-all;word-wrap:break-word;}
	/*end 文章详情页*/